<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="bootstrap-paper.css">
	<link rel="stylesheet" href="panel-style.css">
	<script src="jquery.js"></script>
	<script src="angular.min.js"></script>
	<script src="panel-script.js"></script>
</head>
<body ng-app = "panelApp" ng-controller = "panelController">
	<nav class="navbar navbar-default">
		<div class="container-fluid nav-children">
	    <div class="navbar-header nav-children">
				<span class="glyphicon glyphicon-cog nav-glyphs"></span>
				<span class="glyphicon glyphicon-plus nav-glyphs" ng-click="showNewForm = !showNewForm"></span>
	      <p class="navbar-brand">Spoiler Blocker</p>
	    </div>
		</div>
	</nav>
	<div class="container" ng-show="showNewForm">
		<form role="form" ng-submit="getInput()">
		  <div class="form-group">
		    <input type="text" class="form-control input-txt" placeholder="List title" ng-model="titleString"></input>
		  </div>
		  <div class="form-group">
		    <input type="text" class="form-control input-txt" placeholder="Enter comma seperated tags" ng-model="tagString"></input>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<hr ng-show="showNewForm">
	<div class="container">
		<h5>Active lists</h5>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="(title, list) in allTags track by $index" ng-if="list.active">
				<h6 class="list-title" ng-show="!tagOptions[title].editing">
					{{ title }}
			  	<span class="glyphicon glyphicon-triangle-right list-title-arrow" ng-show="!tagOptions[title].display" ng-click="tagOptions[title].display = true"></span>
					<span class="glyphicon glyphicon-triangle-bottom list-title-arrow" ng-show="tagOptions[title].display" ng-click="tagOptions[title].display = false"></span>
					<span class="glyphicon glyphicon-trash list-title-arrow list-title-other" ng-click="deleteList(title)"></span>
					<span class="glyphicon glyphicon-pencil list-title-arrow list-title-other" ng-click="editList(title)"></span>
					<span class="glyphicon glyphicon-off list-title-arrow list-title-other activated" ng-click="toggleActivate(title)"></span>
				</h6>
				<p class="list-text" ng-if="tagOptions[title].display && !tagOptions[title].editing">
					{{ list.tags.join(', ') }}
				</p>
				<form role="form" ng-if="tagOptions[title].editing" ng-submit="editListSubmit(title)">
				  <div class="form-group">
				    <input type="text" class="form-control editing-title" ng-model="tagOptions[title].newTitle"></input>
						<span class="glyphicon glyphicon-remove editing-glyph" ng-click="editListCancel(title)"></span>
						<span class="glyphicon glyphicon-ok editing-glyph" ng-click="editListSubmit(title)"></span>
				  </div>
				  <div class="form-group">
				    <input type="text" class="form-control editing-txt" ng-model="tagOptions[title].newTags"></input>
				  </div>
					<div class="hidden-submit"><input type="submit" tabindex="-1"/></div>
				</form>
			</li>
		</ul>
		<hr>
		<h5>Inactive lists</h5>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="(title, list) in allTags track by $index" ng-if="!list.active">
				<h6 class="list-title" ng-show="!tagOptions[title].editing">
					{{ title }}
			  	<span class="glyphicon glyphicon-triangle-right list-title-arrow" ng-show="!tagOptions[title].display" ng-click="tagOptions[title].display = true"></span>
					<span class="glyphicon glyphicon-triangle-bottom list-title-arrow" ng-show="tagOptions[title].display" ng-click="tagOptions[title].display = false"></span>
					<span class="glyphicon glyphicon-trash list-title-arrow list-title-other" ng-click="deleteList(title)"></span>
					<span class="glyphicon glyphicon-pencil list-title-arrow list-title-other" ng-click="editList(title)"></span>
					<span class="glyphicon glyphicon-off list-title-arrow list-title-other deactivated" ng-click="toggleActivate(title)"></span>
				</h6>
				<p class="list-text" ng-if="tagOptions[title].display && !tagOptions[title].editing">
					{{ list.tags.join(', ') }}
				</p>
				<form role="form" ng-if="tagOptions[title].editing" ng-submit="editListSubmit(title)">
				  <div class="form-group">
				    <input type="text" class="form-control editing-title" ng-model="tagOptions[title].newTitle"></input>
						<span class="glyphicon glyphicon-remove editing-glyph" ng-click="editListCancel(title)"></span>
						<span class="glyphicon glyphicon-ok editing-glyph" ng-click="editListSubmit(title)"></span>
				  </div>
				  <div class="form-group">
				    <input type="text" class="form-control editing-txt" ng-model="tagOptions[title].newTags"></input>
				  </div>
					<div class="hidden-submit"><input type="submit" tabindex="-1"/></div>
				</form>
			</li>
		</ul>
		<hr>
		<button type="button" class="btn btn-primary panel-btn" ng-click="clearAll()">Clear All Lists</button>
		<br>
	</div>
</body>
</html>
