<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="bootstrap-paper.css">
	<link rel="stylesheet" href="panel-style.css">
	<script src="jquery.js"></script>
	<script src="angular.min.js"></script>
	<script src="panel-script.js"></script>
</head>
<body ng-app = "panelApp" ng-controller = "panelController">
	<nav class="navbar navbar-default" id="navbar" style="width:260px; height: 30px; margin: 0px">
		<div class="container-fluid" style="height: 64px">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header" style="height: 64px">
				<span class="glyphicon glyphicon-cog" style="line-height:64px; float:right; font-size: 15px; padding-right: 15px"></span>
				<span class="glyphicon glyphicon-plus" style="line-height:64px; float:right; font-size: 15px; padding-right: 10px; color: green" ng-click="showNewForm = !showNewForm; console.log(showNewForm)"></span>
	      <p class="navbar-brand" href="#">Spoiler Blocker</p>
	    </div>
		</div>
	</nav>
	<div class="container" ng-show="showNewForm">
		<form role="form" ng-submit="getInput()">
		  <div class="form-group">
		    <input type="text" class="form-control input-txt" placeholder="List title" ng-model="titleString"></input>
		  </div>
		  <div class="form-group">
		    <input type="text" class="form-control input-txt" placeholder="Enter comma seperated tags" ng-model="tagString"></input>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<hr ng-show="showNewForm">
	<div class="container">
		<button type="button" class="btn btn-primary panel-btn" ng-click="clearAll()">Clear All Lists</button>
		<br>
		<button type="button" class="btn btn-primary panel-btn" ng-click="displayTitles = !displayTitles">
			See Lists
			<span class="glyphicon glyphicon-chevron-right" ng-show="!displayTitles"></span>
			<span class="glyphicon glyphicon-chevron-down" ng-show="displayTitles"></span>
		</button>
		<br>
		<ul class="list-group" ng-show="displayTitles">
			<li class="list-group-item" ng-repeat="list in allTags track by $index">
				<p class="list-title">
					{{ list.list.title }}
			  	<span class="glyphicon glyphicon-triangle-right list-title-arrow" ng-show="!list.display" ng-click="showTags($index)"></span>
					<span class="glyphicon glyphicon-triangle-bottom list-title-arrow" ng-show="list.display" ng-click="showTags($index)"></span>
					<span class="glyphicon glyphicon-trash list-title-arrow" style="margin-right: 20px; color: red"></span>
					<span class="glyphicon glyphicon-pencil list-title-arrow" style="margin-right: 20px; color: blue"></span>
				</p>
				<ul class="list-group list-tag-list" ng-show="list.display">
					<li class="list-group-item list-tag-item" ng-repeat="tag in list.list.tags track by $index">
						<p style="margin: 0px; display: inline-block">{{ tag }}</p>
						<span class="glyphicon glyphicon-trash list-title-arrow" style="color: red"></span>
						<span class="glyphicon glyphicon-pencil list-title-arrow" style="color: blue; margin-right: 15px"></span>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</body>
</html>
