.input-txt {
  width: 230px
}

.panel-btn {
  display: block;
}

.list-title {
  cursor: pointer;
  margin: 0px;
}

.list-title-arrow {
  font-size: 10px;
  float: right;
  line-height: 23px;
}

.list-tag-list {
  margin-bottom: 0px;
  margin-top: 3px;
}

.list-tag-item {
  height: 30px;
  padding: 3px 15px;
}
