<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="bootstrap-paper.css">
	<link rel="stylesheet" href="panel-style.css">
	<script src="jquery.js"></script>
	<script src="angular.min.js"></script>
	<script src="panel-script.js"></script>
	<h4>
		Heading
	</h4>
</head>
<body ng-app = "panelApp">
	<div class="container" ng-controller = "panelController">
		<input type="text" class="form-control input-txt" placeholder="List title" ng-model="titleString"></input>
		<br>
		<input type="text" class="form-control input-txt" placeholder="Enter comma seperated tags" ng-model="tagString"></input>
		<br>
		<button type="button" class="btn btn-primary" style="display:block" ng-click="getInput()">Submit</button>
		<br>
		<button type="button" class="btn btn-danger" style="display:block" ng-click="resetAll()">Clear All Lists</button>
		<br>
		<button type="button" class="btn btn-warning" style="display:block" ng-click="displayTitles = !displayTitles">
			See Lists
			<span class="glyphicon glyphicon-chevron-right" ng-show="!displayTitles"></span>
			<span class="glyphicon glyphicon-chevron-down" ng-show="displayTitles"></span>
		</button>
		<br>
		<ul class="list-group" ng-show="displayTitles">
			<li class="list-group-item" ng-repeat="list in allTags track by $index" ng-click="showTags($index)">
				<p style="cursor: pointer; margin: 0px">
					{{ list.title }}
			  	<span class="glyphicon glyphicon-triangle-right" ng-show="!displayTags[$index]" style="font-size: 10px; float: right; line-height: 23px"></span>
					<span class="glyphicon glyphicon-triangle-bottom" ng-show="displayTags[$index]" style="font-size: 10px; float: right; line-height: 23px"></span>
				</p>
				<ul class="list-group" ng-show="displayTags[$index]" style="margin-bottom: 0px; margin-top: 3px">
					<li class="list-group-item" ng-repeat="tag in list.tags" style="height: 30px; padding: 3px 15px;">
						{{ tag }}
					</li>
				</ul>
			</li>
		</ul>
	</div>
</body>
</html>
